@import "./fun.scss";
@import "../font/iconfont.scss";

body {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 14px;
}

.base-box {
  color: #000000;
  width: 1190px;
  margin: 0 auto;
}

@import "./print.scss";
